<div class="footer">
  <div class="col-div">
    <h1>Get In Touch</h1>
    <input type="text" placeholder="Enter Your Email">
  </div>
  <div class="row-div">
    <div>
      <h3>Designexplore</h3>
    </div>
    <div style="margin-top: -58px;">
      <h4>Quick Links</h4>
      <div>
        <a href="">Home</a>
      </div>
      <div>
        <a href="">Home</a>
      </div>
      <div>
        <a href="">Home</a>
      </div>
    </div>
    <div style="margin-top: -58px;">
      <h4>Quick Links</h4>
      <div>
        <a href="">Home</a>
      </div>
      <div>
        <a href="">Home</a>
      </div>
      <div>
        <a href="">Home</a>
      </div>
    </div>
    <div style="margin-top: -58px;">
      <h4>Quick Links</h4>
      <div>
        <a href="">Home</a>
      </div>
      <div>
        <a href="">Home</a>
      </div>
      <div>
        <a href="">Home</a>
      </div>
    </div>
    <div style="margin-top: -28px;">
      <h4>Follow Us</h4>
      <div style="display: flex;">
        <div>
          <a href="">H</a>
        </div>
        <div style="padding-left:12px;">
          <a href="">H</a>
        </div>
        <div style="padding-left:12px;">
          <a href="">H</a>
        </div>
      </div>

    </div>
  </div>

</div>
