<header>
  <div class="container" style="border-bottom: 2px solid rgb(198, 197, 197); padding-bottom: 20px; width: 100%;padding: 2%;padding-top: 0%;">
    <a href="#" class=""><strong>CoolApp</strong></a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/home"><strong>Home</strong></a></li>
        <li><a href="#" routerLink="/community"><strong>Community</strong></a></li>
        <li><a href="#" routerLink="/tutorials"><strong>Tutorials</strong></a></li>
        <li><a href="#" routerLink="/Notifications"><strong>Notifications</strong></a></li>
        <li><a href="#" routerLink="/profile"><img  style=" width: 28px; border:2px solid; border-radius: 50%; margin-bottom: -10px;"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnJojmgN3Kp5hJzjFARWAuiecsmHNzefg4rQ&usqp=CAU" /></a></li>
      </ul>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
